<head>
	<title>ThriftyField - Audiance</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	
	<!--Top section-->
	<div id="rankings" class="columns">
		<!--Left-->
		<div id="panel1" class="column">
			
		</div>
		
		<!--Right-->
		<div id="panel2" class="column">
			
		</div>
	</div>
	
	<!--Scoreboard containers-->
	<div class="columns" style="position:fixed;bottom:0;width:100%;padding:15">
	<div class="column"></div>
	
	<div class="column is-three-quarters">
	<!--Scoreboard-->
	<div id="scoreboard" class="columns" style="padding:0;margin:0">
		<!--Red teams-->
		<div id="red_teams" class="column is-one-fifth" style="text-align:center">
			<h1 id="red1">????</h1>
			<h1 id="red2">????</h1>
			<h1 id="red3">????</h1>
		</div>
		
		<!--Red score-->
		<div id="red_score" class="column is-one-quarter" style="background-color:#ff333f;color:white;text-align:center;display: inline-block;">
			<br>
			<h1 class="title" style="color:white;margin:0">{red.score}</h1>
			<br>
		</div>
		
		<!--Centre Logo-->
		<div id="Logo" class="column">
			
		</div>
		
		<!--Blue Score-->
		<div id="blue_score" class="column is-one-quarter" style="background-color:#1a7bfe;color:white;text-align:center;display: inline-block;">
			<br>
			<h1 class="title" style="color:white;margin:0">{blue.score}</h1>
			<br>
		</div>
		
		<!--Blue teams-->
		<div id="blue_teams" class="column is-one-fifth" style="text-align:center">
			<h1 id="blue1">????</h1>
			<h1 id="blue2">????</h1>
			<h1 id="blue3">????</h1>
		</div>
		
	</div>
	
	<!--Footer-->
	<div id="footer" style="background-color:#2f322f;color:white">
		<span><h1>ThriftyField</h1></span>
	</div>
	</div>
	
	<div class="column"></div>
	</div>
</body>