<head>
	<title>ThriftyField - Audiance</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <!--<meta http-equiv="refresh" content="0.01">-->
</head>
<body style="background-image:url('https://cdn.dribbble.com/users/77111/screenshots/2603500/attachments/519183/desktop_wallpaper2_by_maria_shanina.png');background-position: center;background-size: cover; text-align:center; padding:0;margin:0">

	<!--Event Title-->
	<div>
		<br><br><br>
	<h1 class="title is-1" style="color:white;font-size:100">{event.name}</h1>
	</div>
	
	<div class="columns" style="position:fixed;bottom:0;width:100%;padding:30;">
	<div class="column"></div>
	
	<div class="column is-three-quarters">
	<!--Scoreboard-->
	<div id="scoreboard" class="columns" style="padding:0;margin:0;box-shadow: 2px 2px 5px grey;">
		<!--Red teams-->
		<div id="red_teams" class="column " style="text-align:center;background-color:white">
			<h1 id="red1">????</h1>
			<h1 id="red2">????</h1>
			<h1 id="red3">????</h1>
		</div>
		
		<!--Red score-->
		<div id="red_score" class="column is-one-quarter" style="background-color:#ff333f;color:white;display: inline-block;">
			
			<div id="scorebox" class="columns">
				<div class="column">
					<!--Powerups-->
					<h1 id="r-v-L" style="text-align:left; padding-bottom:5">0</h1>
					<h1 id="r-v-F" style="text-align:left; padding-bottom:5">0</h1>
					<h1 id="r-v-B" style="text-align:left; padding-bottom:5">0</h1>
				</div>
				<div class="column">
					<br>
					<h1 class="title" style="color:white;margin:0;padding:0; text-align:right" id="rscore">00</h1>
				</div>
				<div class="column"></div>
				
			</div>
			
		</div>
		
		<!--Centre Logo-->
		<div id="Logo" class="column is-one-fifth" style="background-color:white">
			<h1 id="time" class="title is-1">00</h1>
		</div>
		
		<!--Blue Score-->
		<div id="blue_score" class="column is-one-quarter" style="background-color:#1a7bfe;color:white;text-align:center;display: inline-block;">
			<br>
			<h1 class="title" style="color:white;margin:0" id="bscore">00</h1>
			<br>
		</div>
		
		<!--Blue teams-->
		<div id="blue_teams" class="column " style="text-align:center;background-color:white">
			<h1 id="blue1">????</h1>
			<h1 id="blue2">????</h1>
			<h1 id="blue3">????</h1>
		</div>
		
	</div>
	
	<!--Footer-->
	<div id="footer" style="background-color:#2f322f;color:white; text-align:right; padding-right:10;box-shadow: 2px 2px 5px grey;">
		<span><h1>ThriftyField</h1></span>
	</div>
	</div>
	
	<div class="column"></div>
	</div>
	<script>
	function decode_utf8(s) {
  return decodeURIComponent(escape(s));
}
// Teams
	var red1 = document.getElementById("red1");
	var red2 = document.getElementById("red2");
	var red3 = document.getElementById("red3");
	var blue1 = document.getElementById("blue1");
	var blue2 = document.getElementById("blue2");
	var blue3 = document.getElementById("blue3");

// scores
var rs = document.getElementById("rscore");
var bs = document.getElementById("bscore");

var time = document.getElementById("time");

		var eventSource = new EventSource('/subscribe');
		eventSource.onmessage = function(m) {
			var a = JSON.parse(m["data"].substring(2, m["data"].length-1));
			// console.log(a);
			red1.innerHTML = a["teams"]["red"][0];
			red2.innerHTML = a["teams"]["red"][1];
			red3.innerHTML = a["teams"]["red"][2];
			
			blue1.innerHTML = a["teams"]["blue"][0];
			blue2.innerHTML = a["teams"]["blue"][1];
			blue3.innerHTML = a["teams"]["blue"][2];
			
			// scores
			bs.innerHTML = a["scores"]["blue"];
			rs.innerHTML = a["scores"]["red"];
			
			// time
			time.innerHTML = a["time"]
		}
	</script>
	<!--
	<script>
	// get data from page
	var red1 = document.getElementById("red1");
	var red2 = document.getElementById("red2");
	var red3 = document.getElementById("red3");
	var blue1 = document.getElementById("blue1");
	var blue2 = document.getElementById("blue2");
	var blue3 = document.getElementById("blue3");
		while(true){
			// Get data from api
			fetch("http://{field.addr}/api/teams/onfield")
		  .then((resp) => resp.json()) // Transform the data into json
		  .then(function(data) {
		    // Create and append the li's to the ul
		    console.log(resp["red"][1])
		    })
		}
	</script>
	-->
</body>