<head>
	<title>ThriftyField - Ref Control</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	<!--<form method="GET">-->
	<!--	<div>-->
	<!--		<h1>Red Alliance</h1>-->
	<!--		<input type="text" name="r1" placeholder="Red 1">-->
	<!--		<input type="text" name="r2" placeholder="Red 2">-->
	<!--		<input type="text" name="r3" placeholder="Red 3">-->
	<!--	</div>-->
	<!--	<div>-->
	<!--		<h1>Blue Alliance</h1>-->
	<!--		<input type="text" name="b1" placeholder="Blue 1">-->
	<!--		<input type="text" name="b2" placeholder="Blue 2">-->
	<!--		<input type="text" name="b3" placeholder="Blue 3">-->
	<!--	</div>-->
	<!--	<input type="submit" value="Set Teams">-->
	<!--</form>-->
	<!--<form method="POST">-->
	<!--	<h1>Game controls</h1>-->
	<!--	<label class="radio">-->
	<!--	<input type="radio" name="start">-->
	<!--	Start Game-->
	<!--	</label>-->
	<!--	<label class="radio">-->
	<!--	<input type="radio" name="stop">-->
	<!--	Stop Game-->
	<!--	</label>-->
	<!--	<input type="submit" value="Set State">-->
	<!--</form>-->
	
	<h1 class="title">Manual Field Override</h1>
	<div class="columns">
		<div class="column">
			<h1>Red switch</h1>
		<form method="POST">
			<input type="hidden" name="RL" value="on">
			<input type="submit" value="Tilt">
		</form>
		<form method="POST">
			<input type="hidden" name="RC" value="on">
			<input type="submit" value="Centre">
		</form>
		<form method="POST">
			<input type="hidden" name="RR" value="on">
			<input type="submit" value="Tilt">
		</form>
		</div>
		
		<div class="column">
			<h1>Scale</h1>
		<form method="POST">
			<input type="hidden" name="SL" value="on">
			<input type="submit" value="Tilt">
		</form>
		<form method="POST">
			<input type="hidden" name="SC" value="on">
			<input type="submit" value="Centre">
		</form>
		<form method="POST">
			<input type="hidden" name="SR" value="on">
			<input type="submit" value="Tilt">
		</form>
		</div>
		
		<div class="column">
			<h1>Blue switch</h1>
		<form method="POST">
			<input type="hidden" name="BL" value="on">
			<input type="submit" value="Tilt">
		</form>
		<form method="POST">
			<input type="hidden" name="BC" value="on">
			<input type="submit" value="Centre">
		</form>
		<form method="POST">
			<input type="hidden" name="BR" value="on">
			<input type="submit" value="Tilt">
		</form>
		</div>
	</div>
</body>