
<head>
    <title>Main Display | ThriftyField</title>

    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/cheesy-arena.css" />
    <link rel="stylesheet" href="/static/css/main-display.css" />
</head>
<body>
    <div class="position-row center">
        <!-- Red 1 -->
        <div class="left-position center reversible-right">1</div>
        <div id="R1" class="team">
            <div id="R1-ID" class="team-id center"></div>
            <div class="team-box-row">
                    <div id="R1-DS" class="team-box center">DS</div>
                    <div id="R1-Robot" class="team-box center">RBT</div>
                    <div id="R1-Bypass" class="team-box center">ES</div>
            </div>
        </div>

        <!-- Blue 1 -->
        <div id="R1" class="team">
            <div id="R1-ID" class="team-id center"></div>
            <div class="team-box-row">
                    <div id="R1-DS" class="team-box center">DS</div>
                    <div id="R1-Robot" class="team-box center">RBT</div>
                    <div id="R1-Bypass" class="team-box center">ES</div>
            </div>
        </div>
        <div class="right-position center reversible-left">3</div>
    </div>

    <div class="position-row center">
        <!-- Red 1 -->
        <div class="left-position center reversible-right">2</div>
        <div id="R1" class="team">
            <div id="R1-ID" class="team-id center"></div>
            <div class="team-box-row">
                    <div id="R1-DS" class="team-box center">DS</div>
                    <div id="R1-Robot" class="team-box center">RBT</div>
                    <div id="R1-Bypass" class="team-box center">ES</div>
            </div>
        </div>

        <!-- Blue 1 -->
        <div id="R1" class="team">
            <div id="R1-ID" class="team-id center"></div>
            <div class="team-box-row">
                    <div id="R1-DS" class="team-box center">DS</div>
                    <div id="R1-Robot" class="team-box center">RBT</div>
                    <div id="R1-Bypass" class="team-box center">ES</div>
            </div>
        </div>
        <div class="right-position center reversible-left">2</div>
    </div>

    <div class="position-row center">
        <!-- Red 1 -->
        <div class="left-position center reversible-right">3</div>
        <div id="R1" class="team">
            <div id="R1-ID" class="team-id center"></div>
            <div class="team-box-row">
                    <div id="R1-DS" class="team-box center">DS</div>
                    <div id="R1-Robot" class="team-box center">RBT</div>
                    <div id="R1-Bypass" class="team-box center">ES</div>
            </div>
        </div>

        <!-- Blue 1 -->
        <div id="R1" class="team">
            <div id="R1-ID" class="team-id center"></div>
            <div class="team-box-row">
                    <div id="R1-DS" class="team-box center">DS</div>
                    <div id="R1-Robot" class="team-box center">RBT</div>
                    <div id="R1-Bypass" class="team-box center">ES</div>
            </div>
        </div>
        <div class="right-position center reversible-left">1</div>
    </div>

    <div class="position-row center">
            <div class="game-info">
                <div class="rscore">
                    0
                </div>
                <div class="time">
                    00:00
                </div>
                <div class="bscore">
                    0
                </div>
            </div>
    </div>
    
</body>
<script src="/static/js/lib/jquery.min.js"></script>
<script src="/static/js/lib/jquery.json-2.4.min.js"></script>
<script src="/static/js/lib/jquery.websocket-0.0.1.js"></script>
<script src="/static/js/lib/jquery.transit.min.js"></script>
<script src="/static/js/lib/bootstrap.min.js"></script>
<script src="/static/js/cheesy-websocket.js"></script>
<script src="/static/js/field_monitor_display.js"></script>

